    <!--footer section-->
    <footer id="conference-footer">
        <p class="copyrights">&copy; Styles Conference</p>
        <nav class="navbar">
            <ul class="navbar-items">
                <li class="navbar-item">
                    <a href="/" class="navbar-link">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="/speakers" class="navbar-link">speakers</a>
                </li>
                <li class="navbar-item">
                    <a href="/schedule" class="navbar-link">schedule</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">venue</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">register</a>
                </li>
            </ul>
        </nav>

        
    </footer>