<!--conference header section-->
    <header id="conference-header" class="conference">
        <h1 class="conference-title">STYLE CONFERENCE</h1>
        <h3 class="conference-time">August 24–26th — Chicago, IL</h3>
        <nav class="navbar">
            <ul class="navbar-items">
                <li class="navbar-item">
                    <a href="/" class="navbar-link">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="/speakers" class="navbar-link">speakers</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">schedule</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">venue</a>
                </li>
                <li class="navbar-item">
                    <a href="" class="navbar-link">register</a>
                </li>
            </ul>
        </nav>

    </header>