/* hero section */
#conference-hero {
    padding: 6% 18%;
    text-align: center;
    background-color: $bg-color;
}
.hero {
    &-topic {
        color: $primary-color;
        font-weight: 300;
    }

    &-text {
        line-height: 2;
        font-weight: 300;
        font-size: 1.3rem;
        color: $light-grey;
    }
    &-btn {
        text-transform: uppercase;
        padding: 15px 21px;

    }
}